[user]
  name = fsorodrigues

[core]
	excludesfile = ~/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[gpg]
	format = ssh
[commit]
	gpgsign = true

[includeIf "gitdir:/Users/fsorodrigues/"]
  path = ~/.config/git/personal.macos.gitconfig

[includeIf "gitdir:/Users/fsorodrigues/work/"]
  path = ~/.config/git/work.macos.gitconfig

[includeIf "gitdir:/home/felipperodrigues/"]
  path = ~/.config/git/work.wsl.gitconfig

[includeIf "gitdir:/home/felipperodrigues/personal/"]
  path = ~/.config/git/personal.wsl.gitconfig
