[user]
	name = fsorodrigues
	email = fsorodrigues@gmail.com
	signingkey = /Users/fsorodrigues/.ssh/id_rsa.pub
[core]
	excludesfile = /Users/fsorodrigues/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[gpg]
	format = ssh
[commit]
	gpgsign = true
